{erl_opts, [debug_info, {d, maps_support}]}.
{deps, [{hackney, ".*", {git, "https://github.com/marcelinojung/hackney.git", {branch, "master"}}},
        {jsx, ".*", {git, "https://github.com/marcelinojung/jsx.git", {tag, "3.1.1"}}},
        {aws_signature, ".*", {git, "https://github.com/marcelinojung/aws_signature.git", {branch, "master"}}},
        {aws_credentials, ".*", {git, "https://github.com/marcelinojung/aws_credentials.git", {branch, "master"}}}
       ]}.
{project_plugins, [rebar3_hex, rebar3_ex_doc, rebar3_check_app_calls]}.
{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
          {'README.md', #{title => <<"Overview">>}},
          {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>},
    {homepage_url, <<"https://github.com/aws-beam/aws-erlang">>},
    {source_url, <<"https://github.com/aws-beam/aws-erlang">>}
]}.
